.navbar,
.navbar-default{
    border-top-color: #98B1C4;
    border-top-style: solid;
    border-top-width: 8px;
}

.container{
    max-width:99%
}

.main-content {
    margin-top: 30px;
}

.navbar-logo,
.navbar-default .navbar-brand {
    color: #98B1C4;
}

.entry-title {
    text-indent: -0px;
}

.entry-title-tight {
    margin-top: -0px;
}

.entry-title-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbbbba;
    line-height: 1em;
}

.entry-title-info a{
    color: #222222;
}

.author {
    font-variant: small-caps;
    letter-spacing: 0px;
    font-size: 110%;
    line-height: 100%;
    font-weight: 600;
}

.published {
    font-style: italic;
}

.label {
    font-weight: normal;
}

.table th {
    text-align:right;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  line-height: 1.8;
  text-align: justify;
  vertical-align:middle;
}

/* Figures */
figure {
  margin: 20px 0;
  text-align: center;
}

.figCenter{
  display: inline-block;
  margin: 0 auto;
}

.capCenter{
  display: inline-block;
  margin: 0 auto;
  font-size: 80%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:justify;
    /* inline-block space fix */
    margin-right:-4px;
}


.col-fixed {
    /* custom width */
    width:800px;
}
.col-min {
    /* custom min width */
    min-width:600px;
}
.col-max {
    /* custom max width */
    max-width:800px;
}

/*
[class*="col-"] {
    padding-top:10px;
    padding-bottom:15px;
	border:1px solid #80aa00;
	background:#d6ec94;
}
[class*="col-"]:before {
    display:block;position:relative;
    content:"COLUMN";
    margin-bottom:8px;
	font-family:sans-serif;
	font-size:10px;
    gcing:1px;
    color:#658600;
    text-align:left;
}*/

/* Bibliography */
.bib li {
    padding-left: 20px;
    text-indent: -20px;
    width: 700px;
    text-align: left;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer,
.content,
.comment {
  padding-left: 5px;
  padding-right: 5px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}


/* More space in footer */
.aw-bottom {
    padding: 2em;
}

.my-list-style {
    margin-left: 0;
}

.footer,
.aw-footer,
.aw-bottom {
    width: 100%;
    font-size: 14px;
}

.aw-footer {
    margin-top: 2em;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #eee;
}

.aw-footer li {
    line-height: 200%;
}

ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.header .text-muted  a{
    color:#999;
    text-decoration:none;
}
.entry-content{
    padding:5px 0 15px;;
    line-height:1.8;
}
.hentry{
    margin-bottom:18px;
}
.pager{
    margin-bottom:30px;
}
.pager ul{
    margin:0;
    padding:0;
}
.post-info{
    padding-top: 30px;
    padding-bottom:30px;
    font-size: 14px;
}
.post-info address{
    display:inline;
}
.comment{
    padding-top:15px;
    padding-bottom:15px;
}
.archive-list li{
    font-size:16px;
    margin-bottom:10px;
}
.bottom-nav{display:none;}
.bottom-nav a{margin-left:15px;}

h1 a,
h2 a,
h3 a,
h4 a,
.entry-content a {
    text-shadow: 1px 0 0 #ffffff, 2px 0 0 #ffffff, -1px 0 0 #ffffff, -2px 0 0 #ffffff;
    background-image: url("underline.png");
    background-position: 0px 1.1em;    
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: #222222;
    text-decoration:none;
}

a:hover,
a:focus {
    text-decoration:none;
    color: #222222;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer,
  .comment {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
 .nav-pills,.bottom-nav{
    display:block;
 }
}
