.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 50px 0 20px 0;
    text-align: center;
    color: #fff;
    /*background: url("intro-bg.jpg") no-repeat bottom center scroll;
    background: url("walls/intro-bg.jpg") repeat bottom center scroll;*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(0,0,0,0))), url("walls/back.png") repeat bottom center scroll;
    background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(0,0,0,0) 100%), url("walls/back.png") repeat bottom center scroll;
    background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(0,0,0,0) 100%), url("walls/back.png") repeat bottom center scroll;
    background: -o-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(0,0,0,0) 100%), url("walls/back.png") repeat bottom center scroll;
    background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(0,0,0,0) 100%), url("walls/back.png") repeat bottom center scroll;
    background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(0,0,0,0) 100%), url("walls/back.png") repeat bottom center scroll;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */            
    background-color: #fff;
/*    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    */
    margin: 0px;
}

blockquote {
  border: none;
  margin: 1.5em 10px;
  padding: 0.5em 20px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.navbar,
.navbar-default{
    border-top-color: #98B1C4;
    border-top-style: solid;
    border-top-width: 8px;
}

.container{
    max-width:100%
}

.content {
    padding-top: 60px;
    padding-bottom: 50px;
}

.navbar-logo,
.navbar-default .navbar-brand {
    color: #98B1C4;
}

.entry-title {
    text-indent: -0px;
}

.entry-title-tight {
    margin-top: -0px;
}

.entry-title-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbbbba;
    line-height: 1em;
}

.entry-title-info a{
    color: #222222;
}

.author {
    font-variant: small-caps;
    letter-spacing: 0px;
    font-size: 110%;
    line-height: 100%;
    font-weight: 600;
}

.published {
    font-style: italic;
}

.label {
    font-weight: normal;
}

.table th {
    text-align:right;
}

/* Collapsible bibliogaphy */
.panel{
    max-width: 99%;
}
.panel-title {
    font-size: 90%;
}

.panel-heading {
    padding: 5px;
}

.ref {
    border-style: solid;
    border-width: 0px;
    font-size: 14px;
    margin-bottom: 10px;
    list-style-type: none;
}

.ref.ref-selected {
    border-left-width: 1px;
    padding-left: 29px;
}

.ref a {
    color: #222222;
}

/* Space out content a bit */
html {
  height: 100%;
}

body {
  padding-top: 20px;
  line-height: 1.8;
  text-align: justify;
  vertical-align:middle;
  height: 100%;
  width: 100%;
}

/*.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.push {
  background-color: #ddd;
}*/

/* Figures */
figure {
  margin: 20px 0;
  text-align: center;
}

.figCenter{
  display: inline-block;
  margin: 0 auto;
}

.capCenter{
  display: inline-block;
  margin: 0 auto;
  font-size: 80%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.entry-content figure,
.entry-content img,
.entry-content .table {
    max-width: 100%;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.col-fixed {
    /* custom width */
    width:800px;
}
.col-min {
    /* custom min width */
    min-width:600px;
}
.col-max {
    /* custom max width */
    max-width:800px;
}

/*
[class*="col-"] {
    padding-top:10px;
    padding-bottom:15px;
	border:1px solid #80aa00;
	background:#d6ec94;
}
[class*="col-"]:before {
    display:block;position:relative;
    content:"COLUMN";
    margin-bottom:8px;
	font-family:sans-serif;
	font-size:10px;
    gcing:1px;
    color:#658600;
    text-align:left;
}*/

/* Tabs */
.tab-pane {
    margin-top: 10px;
}

/* Bibliography */
.bib li {
    padding-left: 30px;
    text-indent: -20px;
    width-max: 100%;
    text-align: left;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer,
.content,
.comment {
  padding-left: 5px;
  padding-right: 5px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}


/* More space in footer */
.aw-bottom {
    padding: 2em;
}

.my-list-style {
    margin-left: 0;
}

.footer,
.aw-footer,
.aw-bottom {
    /*width: 100%;*/
    font-size: 14px;
}

.aw-footer {
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #eee;
}

.aw-footer li {
    line-height: 200%;
}

ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


.header .text-muted  a{
    color:#999;
    text-decoration:none;
}
.entry-content{
    padding:5px 0 15px;;
    line-height:1.8;
    text-align: justify;
}
.hentry{
    margin-bottom:18px;
}
.pager{
    margin-bottom:30px;
}
.pager ul{
    margin:0;
    padding:0;
}
.post-info{
    padding-top: 30px;
    padding-bottom:30px;
    font-size: 14px;
}
.post-info address{
    display:inline;
}
.comment{
    padding-top:15px;
    padding-bottom:15px;
}
.archive-list li{
    font-size:16px;
    margin-bottom:10px;
}
.bottom-nav{display:none;}
.bottom-nav a{margin-left:15px;}

h1 a,
h2 a,
h3 a,
h4 a,
.entry-content a,
.ref a {
    text-shadow: 1px 0 0 #ffffff, 2px 0 0 #ffffff, -1px 0 0 #ffffff, -2px 0 0 #ffffff;
    background-image: url("underline.png");
    background-position: 0px 1.1em;    
    background-repeat: repeat-x;
    background-size: 1px 1px;
    color: #222222;
    text-decoration:none;
}

a:hover,
a:focus {
    text-decoration:none;
    color: #222222;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .content,
  .footer,
  .comment {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
 .nav-pills,.bottom-nav{
    display:block;
 }
}
